#parse( "common" )
$h2 Create A Trader
$h3 NPC
Creating an NPC trader is very simple, follow the following instructions and you should be up and running in no time.

$h4 Create the NPC
You will need to use a Citizens 2 command to create an NPC.

    /npc create npcName

Where npcName is the name of the NPC you wish to create.

$h4 Assign the UltraTrader trait
After the NPC has been created, you can now assign all the required traits.

$h5 Manually with Citizens
An administrator might want to assign traits by hand, to do that you would use
the citizens `trait` command. After making sure you have first selected it.

`/trait traitname`

$h5 With UltraTrader Command
Players should use the UltraTrader command.

`/trader create` or `/trader create group`

This will assign all the required traits to the NPC that is selected and is owned by
the player.

$h4 Activate the Shop
Next you are going to either `assign` or `create` a shop. This shop can be any shop you own, or have access too, or be brand new.
All you need to do is `right click` the NPC and start a conversation with him.

Once the conversation is started all you need to do is follow the instructions and everything will be taken care of for you.

When done, just click the trader again, and your shop will open for you.

$h4 See In Action

This video was created when UltraTrader was CitiTradersRE, just change `cititrader` trait for `ultratrader`
#set( $id = "76019421" )
#set( $title = "Creating a Trader in UltraTrader" )
#set( $showCaption = "false" )
#parse( "vimeo" )